/*
 * ---------------------------------------------------------------
 *  Nextflow config file for the ISCIII High Performance Computer
 * ---------------------------------------------------------------
 *
 *   nextflow run PikaVirus/manin.nf -profile HPC_ISCIII, <docker/singularity/conda>
 */

process{
    executor = 'sge'
    queue = 'all.q@obelix09,all.q@obelix10,all.q@obelix11,all.q@obelix12,all.q@obelix13,all.q@obelix14'
    conda = '/processing_Data/bioinformatics/pipelines/miniconda3/envs/nf-core-sarek-2.6-fix-gatk'
    penv='openmp'
}



params {
  config_profile_name = 'ISCIII HPC profile'
  config_profile_description = 'Minimal test dataset to check pipeline function with small-sized reads, and small-sized databases'
 
  kaiju_db = "http://kaiju.binf.ku.dk/database/kaiju_index.tgz"

  vir_ref_dir = "https://zenodo.org/record/4739483/files/vir_ref_pikavirus_test.tar.gz"
  vir_dir_repo = "https://zenodo.org/record/4739483/files/viral_assemblies_testing.tsv"

  input = ""
}
