/*
 * ---------------------------------------------------------------
 *  Nextflow config file for the ISCIII High Performance Computer
 * ---------------------------------------------------------------
 *
 *   nextflow run PikaVirus/manin.nf -profile HPC_ISCIII, <docker/singularity/conda>
 */

process{
  executor = 'sge'
  queue = 'all.q@obelix09,all.q@obelix10,all.q@obelix11,all.q@obelix12,all.q@obelix13,all.q@obelix14'
  conda = '/data/bi/pipelines/miniconda3/envs/PikaVirus'
  penv='openmp'
}

params {
  config_profile_name = 'ISCIII HPC profile'
  config_profile_description = 'Profile designed for the High Performance Computer in the ISCIII'
 
  
  kraken2_db = "/data/bi/references/kraken/minikraken_8GB_20200312"

  virus = true
  vir_ref_dir = "/data/bi/references/PikaVirus/virus"
  vir_dir_repo = "/data/bi/references/PikaVirus/viral_assemblies.tsv"

  bacteria = false
  
  fungi = false

  kaiju = false

  input = "./sample_sheet.csv"
  outdir = "01-PikaVirus-results"
}
